
{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">

      <div class="row">

<ul>
  <li>howto</li>
  <ul>
    <li>matplotlib</li>
    <ul>
      <li><a href="/book/howto/matplotlib/0_polinomials.html" >0_polinomials.ipynb</a></li>
      <li><a href="/book/howto/matplotlib/animation.html" >animation.ipynb</a></li>
      <li><a href="/book/howto/matplotlib/tangent1.html" >Drawing tangents</a></li>
    </ul>
    <li>pandas</li>
    <ul>
      <li><a href="/book/howto/pandas/pandas_sql1.html" >Queries1</a></li>
      <li><a href="/book/howto/pandas/pandas_sql2.html" >Queries2</a></li>
    </ul>
  </ul>
</ul>

      </div>
    </div>

{% endblock content %}
